<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="offert.css">
</head>
<body>
    <div class="offers-container">
        <div class="delivery">
            <img src="../../../assets/images/truck-sign.svg" alt="" srcset="">
              
            <h3 style="font-size: medium;">FREE AND FAST DELIVERY</h3>
            <p>Free delivery for all orders over 140$</p>
        </div>
        <div class="costumerService">
            <img src="../../../assets/images/headphones.svg" alt="">
            <h3 style="font-size: medium;">24/7 CUSTUMER SERVICE</h3>
            <p>Friendly 24/7 customer support</p>
        </div>
        <div class="money-back-guarantee">
            <img src="../../../assets/images/tick-sign.svg" alt="">
            <h3 style="font-size: medium;">MONEY BACK GUARANTEE</h3>
            <p>We return money within 30 days</p>
        </div>
    </div>
</body>
</html>