<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <img src="../../assets/images/phone-picture.png" class="saleAd" alt="Sale Ad" >
    </div>
    
    <div class="text-sale">
        <h1>Up to 10% off Voucher</h1>
    </div>
    <div class="iphone-series">
       <img src="../../assets/images/apple-logo.png" alt="Apple Logo" class="apple-icon">
       <div class="text-iphone-series">
       <p>Iphone 16 Series</p>
        </div>  

        <div class="shop-now-text">
            <a style="color: white;" href="#">Shop now</a>  
         
        </div>
        
    </div>
</body>
</html>